/* *********************************************
******************   Edit Form **************
********************************************* */
.stayEditCompoment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.editForm {
    margin: 20px auto;
    padding: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.editForm input,
.editForm textarea {
    border: 1px solid black;
    margin: 10px;
    padding: 6px;
}

.editForm textarea {
    height: 100px;
    width: 400px;
}

.message {
    position: fixed;
    top: 20%;
    left: 50%;
    background-color: blue;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbs img {
    width: auto;
    height: auto;
    max-width: 150px;
    margin: 10px;
}

.selectedPhoto {
    border: 4px solid red;
}
