.accommodationEditComponent {
    display: flex;
    flex-direction: column;
}

.accommodationsForms {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.addAccommodationButton,
.goToStayButton {
    align-self: center;
}
.addAccommodationButton {
    justify-content: center;
    margin-left: 20px;
    height: 80px;


}
