.propertiesFormComponent{
    border: 3px solid black;
    margin: 5px;
    border-radius: 15px;
}
.propertiesFormComponent ul{
    list-style: none;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}
.propertiesFormComponent ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
}
.propertiesFormComponent ul li input{
    width: 20px;
    height: 20px;
    margin: 8px;
}