.staysComponent {
    display: flex;
    flex-direction: row;
}

.leftColumn {
    flex-basis: 15%;
    padding: 20px;
    max-width: 300px;
}
.middleColumn {
    flex-basis: 40%;
}

.rightColumn {
    flex-basis: 40%;
}