.staySliderComponent {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
}

.StaySliderT1 {
    position: relative;
}
.image {
    height: auto;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.name {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 35px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    background-color: #278abbad;
    padding: 20px;
}
