.accomodationComponent{
    border: 1px solid black;
    padding: 3px;
}

.accomodation{
    padding: 3px;
}

.accommodationTable {
    width: 100%;
}


.accommodationTable > thead {
    background-color: rgba(26, 26, 204, 0.418);
    height: 25px;
}

tr:nth-child(even) {background-color: #f2f2f2;}