
.reservationsComponent {
    display: flex;
    flex-wrap: wrap;
}

.reservation {
    border: 1px solid black;
    margin: 0px 2px;
}


.reservationForm {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.reservationButtons{
    display: flex;
    flex-direction: column;
    align-self: center;
}

