.datePickerComponent {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.datePickerComponent > div > input {
    width: 250px;
    border-color: #278abb;
    color: #278abb;
    font-size: 14px;
}
