
.advancedSearchForm {
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.submitButton {
    align-self: center;
}

.DatePicker__input {
    border: 1px solid black !important;
}

.Calendar__monthArrow {
    width: 30px !important;
}
.DatePicker__calendarContainer {
    height: 33em;
}

.priceContainer {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.priceInput {
    border: 2px solid #7f7f7f;
    border-radius: 5px;
    width: max-content;
    width: fit-content;
    display: flex;
    margin: unset;
    margin-right: 5px;
}

.advancedSearchComponent label {
    font-weight: bold;
}

.lookNearbyContainer {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.lookNearbyContainer > input {
    width: 20px;
    margin: 2px 7px 2px 7px;
}

.advancedSearchForm > div > div {
    width: 100%;
}
.advancedSearchForm > div > div > input {
    font-size: 14px;
    border: 1px solid black;
    margin-left: 5px
}
