.advancedSearchComponent {
}

.advancedSearchForm {
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.submitButton {
    align-self: center;
}

.DatePicker__input {
    border: 1px solid black !important;
}

.Calendar__monthArrow {
    width: 30px !important;
}
.DatePicker__calendarContainer {
    height: 33em;
}

.priceContainer{
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.priceInput {
    border: 2px solid #7f7f7f;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    margin: unset;
    margin-right: 5px;
}
