.reviewsComponent{
    display: flex;
    flex-direction: column;
}

.reviews{
    display: flex;
    flex-direction: column;
}

.review{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
}

.user{
    font-weight: bold;
}

.message{
    font-style: italic;
}

.rating{
    font-size: larger;
}

.addReview{
    padding: 15px;
    display: flex;
    flex-direction: row;

}

.addReview textarea{
    padding: 15px;
    border: 1px solid black;
    width: 80%;
}
.addReview select {
    width: 10%;
    margin: 15px;
}

.addReview button{
    padding: 15px;
    border: 1px solid black;
    width: 10%;
}

.showMore{
    padding: 15px;
    border: 1px solid black;
}