* {
    font: inherit;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.mainContainer {
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100vh;
}

.innerContainer {
    /* po zmianie zmień też w footer.css */
    padding-bottom: 3rem;
}

input,
select,
textarea {
    border: 1px solid black;
    width: 95%;
    margin: 5px auto;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

textarea{
    padding: 10px;
    min-height: 80px;
}

button{
  background-color: #4CAF50; 
  /* border: none; */
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
  margin: 2px 0;
}

p {
    text-decoration : none;
    color: black;
    font-family: "Roboto", sans-serif;
}