footer {
    background-color: #ededed;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* po zmienie height zmień też w layout.css */
    height: 3rem;   
}

.copyright{
    margin: 10px auto;
    text-align: center;
}