.accomodationComponent{
    border: 1px solid black;
    padding: 3px;
}

.accomodation{
    border: 1px solid black;
    padding: 3px;
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}