/*

.staysCard   Default

*/
.staysContainerT1 {
    display: flex;
    flex-direction: column;
    /* min-width: 600px; */
}

.staysCardT1 {
    padding: 15px;
    display: flex;
    margin: 10px 0px;
    max-height: 200px;
    flex-direction: row;
    box-shadow: 0px 3px 4px 3px rgba(22, 34, 42, 0.15);
    /* flex: 0 0 auto; */
}

.staysCardT1:hover {
    background-color: #f0f0f0;
}

.staysCardT1 .image {
    min-width: 250px;
}

.staysCardT1 .image a img {
    max-height: 200px;
    max-width: 250px;
    object-position: center;
    object-fit: cover;
}

.staysCardT1 .cardBody {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    flex: 1 1 auto;
}

.staysCardT1 .left {
}

.staysCardT1 .right {
    align-self: flex-end;
}

.staysCardT1 .name a {
    font-size: 25px;
    text-decoration: none !important;
    font-weight: 700;
    color: cornflowerblue;
}

.staysCardT1 .address {
    text-decoration: none;
}
.staysCardT1 .avgRateIco {
    border: 1px solid #00008b;
    border-radius: 50%;
    color: #00008b;
    width: fit-content;
    padding: 5px;
    margin-top: 5px;
    font-weight: 600;
    background-color: white;
}

.staysCardT1 .price {
    font-size: 20px;
    text-decoration: none !important;
    align-self: flex-end;
}

.staysCardT1 .priceAmount {
    font-size: 35px;
    text-decoration: none !important;
    font-weight: 700;
    align-self: flex-end;
    color: darkblue;
}

.averageRating {
    border: darkblue;
}

.staysCardT1 .itemButton,
.showMoreButton {
}

.staysCardT1 .itemButton {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.showMoreButton {
    margin: 5px auto;
    display: block;
}

/*
************************************************************************
*****************    .staysCard   Mini                 *****************
************************************************************************
*/
.staysContainerT2 {
    display: flex;
    flex-wrap: wrap;
}

.staysCardT2 {
    border: #003b73 1px solid;
    padding: 15px;
    display: flex;
    margin: 10px 0px;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.staysCardT2 .image a img {
    max-width: 250px;
    object-fit: contain;
}

.staysCardT2 .name {
    flex-basis: 100%;
}

.staysCardT2 .name a {
    font-size: 20px;
    text-decoration: none !important;
    font-weight: 700;
}

.staysCardT2 .price {
    flex-basis: 100%;
    font-size: 20px;
    text-decoration: none !important;
    font-weight: 700;
}

.staysCardT2 .itemButton {
}

.staysCardT2 .itemButton a {
    text-decoration: none;
    color: white;
}

/*
************************************************************************
*****************    .staysCard   Photo                *****************
************************************************************************
*/

.staysContainerPhoto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.staysCardPhoto {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
    box-shadow: 0 1px 4px rgba(22, 34, 42, 0.15);
}

.staysCardPhoto .image {
    height: 250px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.staysCardPhoto .city {
    padding: 8px 18px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    bottom: 17px;
    left: 0px;
    right: 0;
    background: #f3f3f3;
    width: fit-content;
}

.staysCardPhoto .city a {
    font-size: 20px;
    text-decoration: none !important;
    font-weight: 700;
    color: black;
}

@media only screen and (max-width: 1340px) {
    .staysContainerPhoto {
        width: 75%;
    }
}
