.fileUploaderComponent {
    padding: 35px;
    border: 2px dashed blue;
    border-radius: 5px;
    max-width: 50%;
    margin: 0 auto;
}

.fileUploaderComponent button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px

}

.messageRed {
    color: red;
}

.fileList li {
    color: green;
}
